<div ng-cloak>
    <a ng-show="!hasRankings" href="#/createGroups" class="btn btn-primary btn-lg" role="button">Start League</a>
</div>
<div ng-show="hasRankings" ng-cloak>
    <h1>Week {$ week $}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Player</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ranking in rankings | orderBy:'rank'">
                <td>{$ ranking.rank $}</td>
                <td>{$ ranking.player $}</td>
                <td>{$ ranking.points $}</td>
            </tr>
        </tbody>
</div>