<div class="row">
    <div class="col-sm-offset-2 col-md-8">
        <div ng-show="error" ng-cloak>
            <p class="alert alert-danger">There was an error submitting your information.</p>
        </div>
        <form class="form-horizontal" role="form" ng-show="!created">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-4">
                  <input ng-model="user.username" type="text" class="form-control" id="username" />
                </div>
            </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
              <input ng-model="user.email" type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default" ng-click="submit(user)">Sign Up</button>
            </div>
          </div>
        </form>
        <div ng-show="created" ng-cloak>
            <p class="alert alert-success">Thank you for signing up!  An email has been sent to {$user.email$}.  Please click on the confirmation link to finish creating your account.</p>
        </div>
    </div>
</div>