<div class="h3">Week {$ week $}</div>
<div class="row panel panel-primary" ng-repeat="group in groups" >
	<div class="panel-heading">Group {$ group.group $}</div>
	<div class="panel-body">
    <ul class="col-sm-6 list-group">
		<li ng-repeat="player in group.players" class="list-group-item">{$ player.name $}</li>
	</ul>
	<ul class="col-sm-6 list-group">
		<li ng-repeat="table in group.tables" class="list-group-item">{$ table.name $}</li>
	</ul>
    </div>
    <div class="panel-footer">
        <button type="button" ng-click="showGroup(group)" class="btn btn-primary">Enter Scores</button>
    </div>
</div>