{% extends 'base.html' %}

{% block nav-about %}class="active"{% endblock %}

{% block content %}

<p>
Columbia Pinball League. Anyone at any skill level can join.  League meets @ 7:00 pm at <a href="http://www.lazerlanes.com">Lazer Lanes</a> and will be every Monday for 10 weeks. If you have never played, join anyways and learn tips and tricks. 
</p>

<p>
Basic Setup 
3 matches a night with points awarded per match at 3 for 1st place, 2 for 2nd place, 1 for 3rd place, and 0 for 4th.  
Bonus points are awarded based on performance.
</p>

<p>
No fee to join but CPL will be taking donations for trophies, pizza and prizes for the end of season activities.
</p>

{% endblock %}