{% extends 'base.html' %}

{% block content %}

<div ng-controller="GroupCtrl" ng-init="init({{week}},{{group}})" ng-cloak>
    <div class="h2"><a href="{% url 'week' week %}">Week {{week}}</a> > Group {{group}}</div>
    <div class="row panel panel-primary" ng-repeat="match in matches">
        <div class="panel-heading">Game {$ $index+1 $}</div>
        <table class="table" class="panel-body">
            <tbody>
                <tr>
                    <td>Table</td>
                    <td>
                        <select ng-model="match.table" ng-options="table.name for table in tables">
                            <option value="">Select Table</option>
                        </select>
                    </td>
                </tr>
                <tr ng-repeat="game in match.games">
                    <td>{$ game.player.name $}</td>
                    <td><input format-score type="text" ng-model="game.player.score" {% if not canEnterScores%}disabled{% endif %}/></td>
                    <td>{$ game.player.league_points $}</td>
                </tr>
            </tbody>
        </table>
        {% if canEnterScores %}
        <div class="panel-footer">
            <button type="button" ng-click="saveGame(match)" class="btn btn-primary">Save</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript_src %}
{{ block.super }}
<script src="{{STATIC_URL}}js/lib/underscore.min.js"></script>
<script src="{{STATIC_URL}}js/src/group.js"></script>
{% endblock %}
