{% extends 'base.html' %}

{% block content %}

<div ng-controller="GroupCtrl" ng-init="init({{week}},{{group}})" ng-cloak>
    <div class="h2"><a href="{% url 'week' week %}">Week {{week}}</a> > Group {{group}}</div>
    <div class="row panel panel-primary" ng-repeat="table in group.tables">
        <div class="panel-heading">{$ table.name $}</div>
        <table class="table" class="panel-body">
            <tbody>
                <tr ng-repeat="game in group.games | filter:table.name">
                    <td>{$ game.player.name $}</td>
                    <td><input type="number" {% if not canEnterScores%}disabled{% endif %} ng-model="game.score"/></td>
                    <td>{$ game.league_points $}</td>
                    <td ng-if="game.bonus_points>0">+{$ game.bonus_points $}</td>
                    <td ng-if="game.bonus_points==0"></td>
                    <td>{$ game.league_points + game.bonus_points $}</td>
                </tr>
            </tbody>
        </table>
        {% if canEnterScores %}
        <div class="panel-footer">
            <button type="button" ng-click="saveTable(table)" class="btn btn-primary">Save</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript_src %}
{{ block.super }}
<script src="{{STATIC_URL}}js/lib/underscore.min.js"></script>
<script src="{{STATIC_URL}}js/src/groupController.js"></script>
{% endblock %}