{% extends 'base.html' %}

{% block content %}

<div ng-controller="GroupCtrl" ng-init="init({{week}},{{group}})" ng-cloak>
    <div class="h2"><a href="{% url 'week' week %}">Week {{week}}</a> > Group {{group}}</div>
    <div class="row panel panel-primary" ng-repeat="table in group.tables">
        <div class="panel-heading"><a ng-href="/table/{$ table.id $}">{$ table.name $}</a></div>
        <table class="table" class="panel-body">
            <tbody>
                <tr ng-repeat="game in group.games | filter:table.name">
                    <td>{$ game.player.name $}</td>
                    <td><input format-score type="text" ng-model="game.score" {% if not canEnterScores%}disabled{% endif %}/></td>
                    <td>{$ game.league_points $}</td>
                    <td ng-if="game.bonus_points>0">+{$ game.bonus_points $}</td>
                    <td ng-if="game.bonus_points==0" colspan="1"></td>
                    <td>{$ game.league_points + game.bonus_points $}</td>
                </tr>
            </tbody>
        </table>
        {% if canEnterScores %}
        <div class="panel-footer">
            <button type="button" ng-click="saveTable(table)" class="btn btn-primary">Save</button>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript_src %}
{{ block.super }}
<script src="{{STATIC_URL}}js/lib/underscore.min.js"></script>
<script src="{{STATIC_URL}}js/src/group.js"></script>
{% endblock %}
