{% extends "base.html" %}

{% block nav-players %}class="active"{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Game Initials</th>
            <th>IFPA Profile</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td><a href="/player/{{player.id}}">{{player.name}}</a></td>
            <td>{% if player.signature %} {{player.signature}} {% endif %}</td>
            <td>
                {% if player.ifpa_id %}
                <a href="http://www.ifpapinball.com/player.php?p={{ player.ifpa_id }}" target="_blank">IFDB</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}