{% extends 'base.html' %}
{% load humanize %}

{% block nav-tables %}class="active"{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-3">
                <a href="" class="thumbnail">
                    <img src="{{table.image}}" alt="{{table.name}}"/>
                </a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="h1">{{ table.name }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-md-1">
                        <a href="http://ipdb.org/machine.cgi?id={{table.ipdb_id}}" target="_blank">IPDB</a>
                    </div>
                    <div class="col-xs-3 col-md-1">
                        <a href="https://pinside.com/pinball/archive/{{table.pinside_name}}" target="_blank">Pinside</a>
                    </div>
                    {% if table.tutorial %}
                    <div class="col-xs-3 col-md-1">
                        <a href="{{table.tutorial}}" target="_blank">Tutorial</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% if games %}
<div class="row">
    <div class="col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Score</th>
                    <th>Week</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'player' game.player.id %}">{{game.player.name}}</a></td>
                    <td>{{game.score|intcomma}}</td>
                    <td>{{game.week}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<p>No scores yet.</p>
{% endif %}

</div></div>
{% endblock %}