{% extends "base.html" %}

{% block nav-tables %}class="active"{% endblock %}

{% block content %}

{% for table in tables %}
<div class="panel panel-primary">
    <div class="panel-heading"><a href="/table/{{table.id}}">{{ table.name }}</a></div>
    <div class="panel-body">
        {% if table.image%}
        <img src="{{table.image}}" />
        {% endif %}
        <a href="http://ipdb.org/machine.cgi?id={{ table.ipdb_id }}" target="_blank">IFDB</a>
        <br/>
        <a href="http://pinside.com/pinball/archive/{{ table.pinside_name }}" target="_blank">Pinside</a>
        <br />
        {% if table.best_game %}
        <span ng-if="table.best_game.player">Best Game: {{ table.best_game.player }} {{ table.best_game.score }}<span>
        {% endif %}
    </div>
</div>

{% endfor %}

{% endblock %}