{% extends 'base.html' %}

{% block content %}

<div class="h3">Week {{ week }}</div>
{% for group in groups %}
<div class="row panel panel-primary">
    <div class="panel-heading"><a href="/group?week={{week}}&group={{group.group}}">Group {{ group.group }}</a></div>
    <div class="panel-body">
    <ul class="col-sm-6 list-group">
        {% for player in group.players|dictsortreversed:'total_points' %}
        <li class="list-group-item row">
            <span class="col-md-4"><a href="{% url 'player' player.id %}">{{ player.name }}</a></span>
            {% if player.week_points %}<span class="col-md-8" style="text-align: right;">{{ player.week_points }} points {% endif %}</span>
        </li>
        {% endfor %}
    </ul>
    <ul class="col-sm-6 list-group">
        {% for table in group.tables %}
        <li class="list-group-item">
            <a href="{% url 'table' table.id %}">{{ table.name }}</a>
        </li>
        {% endfor %}
    </ul>
    </div>
    {% if group.canEnterScores %}
    <div class="panel-footer">
        <a href="/group?week={{week}}&group={{group.group}}" class="btn btn-primary">Enter Scores</a>
    </div>
    {% endif %}
</div>

{% endfor %}

{% endblock %}
