{% extends 'base.html' %}

{% block content %}

<div class="h3">Week {{ week }}</div>
{% for group in groups %}
<div class="row panel panel-primary">
    <div class="panel-heading">Group {{ group.group }}</div>
    <div class="panel-body">
    <ul class="col-sm-6 list-group">
        {% regroup group.games.all by player as players %}
        {% for player in players %}
        <li class="list-group-item">{{ player.grouper }}</li>
        {% endfor %}
    </ul>
    <ul class="col-sm-6 list-group">
        {% regroup group.games.all.tables.order_by by table as tables %}
        {% for table in tables %}
        <li class="list-group-item">{{ table.grouper }}</li>
        {% endfor %}
    </ul>
    </div>
    <div class="panel-footer">
        <a href="/group?week={{week}}&group={{group.group}}" class="btn btn-primary">Enter Scores</a>
    </div>
</div>

{% endfor %}

{% endblock %}